click==8.1.3
Flask==2.2.2
Flask-Cors==3.0.10
importlib-metadata==6.0.0
itsdangerous==2.1.2
ipdb==0.13.11
geopandas==0.12.2
Jinja2==3.1.2
MarkupSafe==2.1.2
pandas==1.5.3
six==1.16.0
turfpy==0.0.7
Unidecode==1.3.6
Werkzeug==2.2.2
zipp==3.11.0
openpyxl==3.1.1